
*{
    border: 1px dashed green;
}
.container-logo{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
}
.moes{
    height: 100px;
    position: absolute;
 
    
  
}
.bitcoin{
    position:absolute;
    top: 40px;
    height: 100px;
    animation: sobe-desce 2s ease-in-out infinite;

}
@keyframes sobe-desce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}
.texto-sobre{
    width: 600px;
}
.texto-sobre p{
    text-align: center  ;
    padding: 0px;
    margin: 0px;
>>>>>>> 4e35d6b (Pequenas Alterações no site, adicionado a capacidade de prever)
}