
<!doctype html>
<html lang="pt-br">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link href="../static/style/style.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>

    <body>
        <header>
            <p>Bitcoin Psychic</p>
        </header>
        <main>
            <!--Sessão da Logo e sobre  -->
            <section class="sobre">
                <div class="container-logo">
                    <div class="logo">
                        <img class="moes" src="../static/imagens/hands.png">
                        <img class="bitcoin" src="../static/imagens/logo.png">
                    </div>
                    <div class="texto-sobre">
                        <p>Esse é um pequeno projeto realizado para meus conhecimentos sobre Machine Learning, O algoritimo realiza uma previsão do preço do bitcoin (apenas do dia seguinte), atráves de aprendizagem Linear</p>
                    </div>
              

                    
                </div>
                <div>
                    <img src="../static/imagens/tecnologias-logo/logo.png">
                </div>
            </section>
            

                <!-- Sessão de tecnologias -->
            <section class="tecnologias d-flex flex-column justify-content-center align-items-center ">

                <p class="title-tec">Tecnologias</p>

                <div class="cards row container justify-content-center gap-5">
                    <div class="card col-lg-2 col-md-5 col-9" onMouseOver="mostrarDesc(0)" onMouseOut="tirarDesc(0)">
                        <div class="imagem-card">
                            <img src="../static/imagens/tecnologias-logo/HTML-CSS-JS-Logo.png">
                        </div>
                        <div class="texto-card">
                            <p>HTML/CSS/JS</p>
                        </div>
                        <div class="descricao">
                            <p>Breve Descrição</p>
                        </div>
                    </div>
                    

                    <div class="card col-lg-2 col-md-5 col-9" onMouseOver="mostrarDesc(1)" onMouseOut="tirarDesc(1)">
                        <div class="imagem-card">
                            <img src="../static/imagens/tecnologias-logo/bs-logo.png">
                        </div>
                        <div class="texto-card">
                            <p>Bootstrap</p>
                        </div>
                        <div class="descricao">
                            <p>Breve Descrição</p>
                        </div>
                    </div>

                   <div class="card col-lg-2 col-md-5 col-9"  onMouseOver="mostrarDesc(2)" onMouseOut="tirarDesc(2)">
                        <div class="imagem-card">
                            <img src="../static/imagens/tecnologias-logo/python-logo.png">
                        </div>
                        <div class="texto-card">
                            <p>Python</p>
                        </div>
                        <div class="descricao">
                            <p>Breve Descrição</p>
                        </div>
                    </div>

                   <div class="card col-lg-2 col-md-5 col-9"  onMouseOver="mostrarDesc(3)" onMouseOut="tirarDesc(3)">
                        <div class="imagem-card">
                            <img src="../static/imagens/tecnologias-logo/Scikit_learn_logo_small.svg.png">
                        </div>
                        <div class="texto-card">
                            <p>Scikit Learn</p>
                        </div>
                        <div class="descricao">
                            <p>Breve Descrição</p>
                        </div>
                    </div>
                </div>

            </section>

            <!--Criar e mostrar -->
            <section>

            <form method="POST" action="/gerar">
                <button class="btn btn-primary" type="submit" onclick="calma()">PREVER!</button>
            <form>

            {% if  previsao  == None %}
                <h2> Nenhuma Previsão foi feita</h2>

            {% else %}
                <h2> Previsão Feita! </h2>
                <h2> O preço do Bit Coin Amanhã será de: {{ previsao }}</h2>
                <img src="../static/imagens/previsao.png">
            
            {% endif %}
        </main>

        <footer>
           <div class="texto">     
                <p> Desenvolvido por Daniel Cezar </p>
           </div>
           <div class="lista">
                <ul>
                    <li><i class="fa-brands fa-github"></i></li>
                    <li><i class="fa-brands fa-linkedin"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                </ul>
           </div>
        </footer>
 
        <script src="../static/script/js.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/7cbeed6b47.js" crossorigin="anonymous"></script>
    </body>
</html>

